* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 170, 8);
}

header {
    background-color: rgb(199, 170, 8);
    color: black;
}

h5 {
    text-align: center;
    color: white;
    padding: 10px;
}

.centrarLogo {
    text-align: center;
}

.centrarLogo img {
    width: 140px;
    border-radius: 50%;
}

.centrarNosotros {
    text-align: center;
}


footer {
    background-color: black;
    background-position: center;
    background-size: cover;
    min-height: 30vh;
    border-top: 1px solid #000;
}

.redes {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #902727;
    background-position: center;
    background-size: contain;
}

.redes-img {
    width: 50px;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.redes-img:hover {
    background-color: rgba(255, 255, 255, 0.46);

}




@media (max-width:1023px) {}