main {
    .formulario {
        width: 500px;
        margin: 20px auto;
        padding: 1rem;
        color: white;

        form {
            div {
                .form2 {
                    color: $negro;
                }
            }
        }
    }
}