@import "variables";
@import "contacto";
@import "nosotros";
@import "productos";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $dorado;
    background: linear-gradient(to top, #2c2c2c, #b3961f, #2c2c2c);
}

header {
    color: white;
    background-color: $dorado;
    background: linear-gradient(to top, #2c2c2c, #b3961f, #2c2c2c);

    .centrarLogo {
        text-align: center;

        img {
            width: 200px;
            border-radius: 50%;
            padding: 10px;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }

    .navCustom {
        background-color: $negro;
        color: white;

        &:hover {
            color: $dorado;
        }
    }
}


main {
    .textoInfo {
        color: $negro;
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }
}

footer {
    background-color: $negro;
    background-position: center;
    background-size: cover;
    min-height: 30vh;
    border-top: 1px solid $negro;

    div {
        h5 {
            text-align: center;
            color: white;
            padding: 10px;
        }

    }

    div {
        a {
            .redes {
                width: 35px;
                height: 35px;
                border: 1px solid $negro;
                border-radius: 25px;
                background-color: $dorado;
                background-position: center;
                background-size: contain;
            }

            .redes-img {
                width: 50px;
                height: auto;
                background-color: white;

                &:hover {
                    background-color: $dorado;
                    transform: scale(1.5, 1.5);
                }
            }

        }
    }
}